body{
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    /* margin: 0 auto; */
    position: relative;
}

#board img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    will-change: transform;
    /* pointer-events: auto; */
}